<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta property="og:title" content="IECSE" />
    <meta property="og:description" content="Official Computer Science Club of MIT" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://iecse.xyz/" />
    <meta property="og:image" content="http://iecsese.xyz/favicon.ico" />
	<link rel="favicon" href="favicon.png" type="image/png" sizes="128x128">
	<link rel="stylesheet" type="text/css" href="ajax/team/css/default.css">
	<link rel="stylesheet" type="text/css" href="loadable/style.css">
	<link rel="stylesheet" type="text/css" href="loadable/nprogress.css">
	<link rel="stylesheet" type="text/css" href="ajax/about/css/style.css">
	<link rel="stylesheet" type="text/css" href="ajax/contact/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="ajax/team/css/font-awesome.min.css">
	<title>IE CSE Manipal</title>
	<meta charset="utf-8"/>
</head>
<body>
	<div id="cont">
		<img id="logo_1" class='logo' src="viewable/CSE logo_1_def.svg"></object>
		<img id="logo_2" class='logo'src="viewable/CSE logo_1_garage.svg"></object>
		<img id="logo_3" class='logo'src="viewable/CSE logo_1_studios.svg"></object>
		<img id="logo_4" class='logo' src="viewable/CSE logo_1_code.svg"></object>
		<img id="logo_5" class='logo' src="viewable/CSE logo_1_x.svg"></object>
		<img id="logo_6" class='logo' src="viewable/CSE logo_1_hashtag.svg"></object>
		<img id="logo_7" class='logo' src="viewable/CSE logo_1_web.svg"></object>
	</div>
	<nav class="topnav">
 		<ul>
  			<li><a onclick="javascript:about()" class="icon">ABOUT</a></li>
  			<li><a onclick="javascript:prom()" class="icon">PROMETHEUS</a></li>
  			<li><a onclick="javascript:team()" id="team" class="icon">TEAM</a></li>
  			<li><a onclick="javascript:community()" class="icon">COMMUNITY</a></li>
  			<li><a onclick="javascript:alumni()" class="icon">ALUMNI</a></li>
  			<li><a onclick="javascript:contact()" class="icon">CONTACT</a></li>
  		</ul>
	</nav>
	<div class="main">
	<div class="div hov" id="d1" target='1'>
	<div class="overlay" id="overlay1" style="background:rgba(210, 87, 39, 0.8)">
		<div class="txt" id='t1'>GARAGE</div>
		<div class="desp" id='de1'>Where Thinkers meet Makers</div>
	</div>
	</div 
	><div class="div hov" id="d2" target='2'>
	<div class="overlay" id="overlay2" style="background:rgba(73, 163, 223, 0.8)">
		<div class="txt" id='t2'>STUDIOS</div>
		<div class="desp" id='de2'>We Make Pretty Things</div>
	</div>
	</div 
	><div class="div hov" id="d3" target='3'>
	<div class="overlay" id="overlay3" style="background:rgba(8, 147, 115, 0.8)">
		<div class="txt" id='t3'>CODE</div>
		<div class="desp" id='de3'>It All Started With "Hello World"</div>
	</div>
	</div 
	><div class="div hov" id="d4" target='4'>
	<div class="overlay" id="overlay4" style="background:rgba(240, 73, 73, 0.7)">
		<div class="txt" id='t4'>X</div>
		<div class="desp" id='de4'>PERSISTENT THIRST FOR KNOWLEDGE</div>
	</div>		
	</div 
	><div class="div hov" id="d5" target='5'>
	<div class="overlay" id="overlay5" style="background:rgba(141, 141, 141, 0.8)">
		<div class="txt" id='t5'>HASHTAG</div>
		<div class="desp" id='de5'>BRINGING TECH TO MANIPAL</div>
	</div>
	</div 
	><div class="div hov" id="d6" target='6'>
	<div class="overlay" id="overlay6" style="background:rgba(103, 66, 115, 0.8)">
		<div class="txt" id='t6'>WEB</div>
		<div class="desp" id='de6'>There's no place like 127.0.0.1</div>
	</div>
	</div>
	</div>
	<div style="display:none;" class="ajax">
	</div>
		<div class="foot">
			<div class="contact" id="is">
				<a  class="cslogo"></a>
			</div>
			<div class="contact" id="us">
				<a target="_blank" href="https://www.facebook.com/iecsemanipal" class="share fa fa-facebook"></a>
				<a target="_blank" href="https://twitter.com/iecsemanipal" class="share fa fa-twitter"></a>
				<a target="_blank" href="" class="share fa fa-youtube"></a>
			</div>
		</div>
	<div class="cont_gar_i" id="te" target="garage">
		
	</div>
	<script type="text/javascript"  src="loadable/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="loadable/nprogress.js"></script>
	<script type="text/javascript" src="loadable/script.js"></script>
	<script type="text/javascript" src="ajax/team/js/default.js"></script>
</body>
</html>